@media (max-width: 390px) {
  html {
    font-size: calc(1px + 1.5 * (100vw / 1025));
  }

  nav .logo img {
    width: 14rem;
  }
}

@media (min-width: 391px) and (max-width: 576px) {
  html {
    font-size: calc(1px + 4 * (100vw / 1025));
  }

  nav .logo img {
    width: 14rem;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  html {
    font-size: calc(1px + 4.5 * (100vw / 1025));
  }

  nav .logo img {
    width: 14rem;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: calc(1px + 4.5 * (100vw / 1025));
  }

  nav .logo img {
    width: 14rem;
  }

  .form-row {
    display: block;
  }
  
  .form-group {
    margin-bottom: 1.5vh;
  }
  
  input[type="text"],
  input[type="email"] {
    width: 100%;
    margin: 0;
  }
}

@media (min-width: 1025px) {
  html {
    font-size: calc(1px + 5 * (100vw / 1025));
  }

  nav .logo img {
    width: 14rem;
  }
}

.menu {
 font-size: 3rem;
}

.left-menu {
  padding: 15rem 5rem;
}

.left-menu a{
  font-size: 4.5rem;
}

.left-menu li {
  margin: 3rem 0;
}

.menu ul li {
	margin: 0rem 2rem;
}

.main-text {
font-size: 3.5rem;
}

.main-text-landing {
font-size: 3rem;
padding-top: 15rem;
}

.velies p {
font-size: 3.5rem;
}

.velies h4 {
font-size: 2.5rem;
}

.square-button {
font-size: 3rem;
padding: 3rem 5rem;
border-radius: 10rem;
}

.intro-form {
font-size: 7rem;
}

form button {
	font-size: 4rem;
	padding: 3rem 9rem;
	border-radius: 10rem;
}

.middle-select {
font-size: 3rem;
}

.container .pop-up span {
font-size: 5rem;
}

.photo-number {
font-size: 5rem;
}
