/* body {
  padding-left: 2vh;
  padding-right: 2vh;
  color: #2F4858;
} */

.header {
  position: relative;
  color: white;
  z-index: 1;
  padding-bottom: 15rem;
}

.background-image {
  position: absolute;
  width: 100%;
  height: auto;
  top: -3.5rem;
  background-size: cover;
  background-position: center center;
}

.menu {
  position: absolute;
  width: 100%;
  height: auto;
  font-size: calc(1px + 37 * (100vw / 1280));
  background: cover;
  margin-right: 2vh;
  z-index: 9;
}

.menu ul {
  list-style: none;
  display: flex;
  justify-content: end;
  max-width: 100%;
  height: auto;
  align-items: center;
  text-align: center;
}

.menu ul li {
  margin: 1vh 2vh;
}

.menu ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  transition: transform 1s;
}

.menu ul li a:hover {
  transform-origin: left;
  transform: scale(1);
}

.left-menu {
  padding: 150rem 50rem;
  position: fixed;
  background: rgba(20,20,20,.5);
  backdrop-filter: blur(2rem);
  border-right: 1rem solid greenyellow;
  transition: all 0.2s ease;
  left: -50vw;
  height: 100%;
  z-index: 101;
}

.left-menu span{
  color: greenyellow;
}

/* .left-menu:hover {
  left: 0;
  transition: all 0.2s ease;
} */

.left-menu a{
  text-decoration: none;
  color: white;
  height: 100vh;
  padding-left: 5px;
  transition: all 0.2s ease;
  list-style-type: none;
}

.left-menu a:hover {
  border-left: 0.2rem solid greenyellow;
  padding-left: 1rem;
  transition: all 0.2s ease;
}

nav .logo{
  position: absolute;
  height: -1rem;
  z-index: 100;
  transition: transform .3s;
}

nav .logo img {
  width: calc(1px + 100 * (100vw / 1280));
}

nav.logo :hover {
  cursor: pointer;
}

.menu select {
  margin-right: 10px;
  font-size: 3.5rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  background-color: #545454;
  color: white;
}

select option:hover {
  background-color: white;
  display: block;
  background-color: black;
}

.menu select:hover {
  background-color: #e0e0e0;
  color: black;
  box-shadow: -2rem -2rem 10px rgba(0, 0, 0, 0.3);
}

.menu select option {
  border-radius: 1rem;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .nav-menu {
    cursor: pointer;
    z-index: 100;
    top: 1rem;
    right: 5rem;
    position: absolute;
    display: block;
  }

  .nav-menu img {
    width: 7rem;
    z-index: 100;
  }
}

.image-container {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.image-container img {
  width: 175%;
}

.fullwidth-image {
  position: relative;
  width: 100%;
  height: auto;
}

.img-over {
  position: absolute; 
  height: auto;
  z-index: 100;
}

#playButton {
  display: none;
}

#playButton:hover{
  transform: scale(1.5);
}

.myVideo {
  max-width: 100%;
  height: auto;
}

.main-text {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 5vh;
  font-size: calc(1px + 33 * (100vw / 1280));
  display: flex;
  align-items: center; /* Center vertically */
  text-align: center;
  justify-content: center; /* Center horizontally */
}

.main-text h1 {
  display: contents;
  padding-bottom: 2vh;
}

.main-text h2 {
  display: contents;
  padding-bottom: 2vh;
}

.main-text h3 {
  display: contents;
  padding-bottom: 1vh;
}

.main-text h4 {
  font-weight: normal;
  display: contents;
  padding-bottom: 1vh;
}

.main-text-landing {
  padding-left: 15vh;
  padding-right: 15vh;
  padding-bottom: 2vh;
  font-size: calc(1px + 29 * (100vw / 1280));
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: left;
  font-family: Montserrat;
}

.main-text-landing h3{
  display: contents;
  text-align: left;
}

.main-text-landing h4{
  display: contents;
  text-align: left;
  font-weight: normal;
}

.main-text-landing h5{
  display: contents;
  text-align: left;
  font-weight: normal;
}

img {
  max-width: 100%;
}

.top-image {
	position: absolute;
	width: 100%;
	z-index: 0;
}

.bottom-images {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.photos-row {
	display: flex;
	flex-direction: row;
	width: 100%;
  z-index: -1;
}

.third-image {
	display: flex;
	flex-direction: column;
	padding-top: 1%;
}

.bottom-image {
	position: absolute;
	width: 100%;
}

#photo1 {
	width: 24.5%;
  height: auto;
}

#photo2 {
	width: 24.5%;
  height: auto;
}

#photo3 {
	width: 22%;
  height: auto;
}

#photo4 {
	width: 29.5%;
  height: auto;
}

#photo5 {
	width: 24.5%;
  height: auto;
}

#photo6 {
	width: 24.5%;
  height: auto;
}

#photo7 {
	width: 22%;
  height: auto;
}

#photo8 {
	width: 29.5%;
  height: auto;
}

.velies {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.velies p {
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(1.5px + 37 * (100vw / 1280));
}

.velies h4 {
  font-weight: normal;
  font-size: calc(1px + 27 * (100vw / 1280));
  text-align: center;
}

.left-side {
  flex: 0 0 50%; /* Set the width of the first paragraph to 50% */
  text-align: center; /* Center the text inside the paragraph */
}

.right-side {
  flex: 0 0 50%;
  text-align: center;
}

.button-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.square-button {
  flex: 0 0 auto;
  display: inline-block;
  background-color: orange;
  color: white;
  border: none;
  padding: 1.5vh 5vh;
  border-radius: 9vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: calc(1px + 33 * (100vw / 1280));
}

.square-button:hover {
  background-color: rgb(255, 132, 0);
}

.intro-form{
  width: 100%;
  margin-top: 10vh;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: calc(1px + 37 * (100vw / 1280));
}

form{
  margin-top: 5rem;
  margin-left: 15rem;
  margin-right: 15rem;
  margin-bottom: 15rem;
}

input {
  margin-bottom: 2vh;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.form-group {
  flex: 1;
}

input[type="text"] {
  border: none;
  background-color: rgb(220, 220, 220);
  width: 90%;
  padding: 2.5rem;
  border-radius: 1vh;
  margin-right: 1vh;
}
input[type="email"] {
  border: none;
  background-color: rgb(220, 220, 220);
  width: 98%;
  padding: 2.5rem;
  border-radius: 1vh;
  margin-left: 1vh;
}
input[type="tel"] {
  border: none;
  background-color: rgb(220, 220, 220);
  width: 100%;
  padding: 2.5rem;
  border-radius: 1vh;
}
textarea {
  border: none;
  background-color: rgb(220, 220, 220);
  width: 100%;
  padding: 2.5rem;
  border-radius: 1vh;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  margin-right: 10px; 
}


.form-submit {
  margin-top: 5vh;
  text-align: center;
}

.form-comment {
  margin-bottom: 2vh;
  font-style: italic;
  color: #888;
}

form button {
  flex: 0 0 auto;
  display: inline-block;
  background-color: orange;
  color: white;
  border: none;
  padding: 1.5vh 5vh;
  border-radius: 9vh;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  font-size: calc(1px + 27 * (100vw / 1280));
}

form button:hover {
  background-color: rgb(255, 132, 0);
}

form checkbox-container checkbox-label {
  font-size: 3rem;
}

.footer {
  position: absolute;
  background-size: cover;
  background-position: center center;
  z-index: 0;
}

.footer-full-widht-1 {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -2;
}

.footer-full-widht-2 {
  width: 100%;
  height: auto;
  position: relative;
  z-index: -1;
}

.landing-page-footer {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 0;
}

.middle-select {
  position: relative;
  display: inline-block;
}

.middle-select-label {
  color: orange;
  padding: 1vh;
  text-align: left;
  max-width: 35rem;
}

.middle-select select {
  width: 100%;
  height: auto;
  border: none;
  border-radius: 5px;
  background-color: rgb(216, 216, 216);
  color: black;
  padding: 5px;
  font-style: 3rem;
}

.photo-container {
  padding-bottom: 1.5vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1vh;
  justify-content: center;
  align-items: center; 
}

.photo-container .photo img {
  cursor: pointer;
}

.container .photo:hover .overlay-photo {
  z-index: -1;
  opacity: 0;
}

.container .photo:hover .photo-number{
  color: black;
}

.container .pop-up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.8);
  z-index: 101;
  display: none;
}

.container .pop-up span {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #fff;
  font-size: calc(5px + 27 * (100vw / 1280));
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.container .pop-up img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo{
  width: 160px;
  height: 160px;
  position: relative;
  z-index: 0;
}

.overlay-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.photo-number {
  position: absolute;
  bottom: 0px;
  right: 2px;
  color: white;
  padding: 2px;
  font-size: calc(1px + 33 * (100vw / 1280));
  z-index: 1;
}

.photo-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  font-size: calc(1px + 23 * (100vw / 1280));
}

/* Ensure the video container is responsive and maintains aspect ratio */
.video-js {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding-top: 56.25%; /* for 16:9 aspect ratio */
}
/* Ensure the video content itself is responsive and maintains aspect ratio */
.video-js .vjs-tech {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* Ensure the play button is visible and adequately sized for smaller screens */
.video-js .vjs-big-play-button {
  font-size: 3em; /* Adjust size as needed */
  line-height: 1.5em; /* Adjust size as needed */
  height: 1.5em; /* Adjust size as needed */
  width: 3em; /* Adjust size as needed */
  left: 50%;
  top: 50%;
  margin-top: -0.75em; /* Half the height */
  margin-left: -1.5em; /* Half the width */
}